ENVIRONMENT=
FASTAPI_PORT=
LOG_LEVEL=
GEMINI_API_KEY=
GEMINI_MODEL=
MAX_FILE_SIZE_MB=
CHUNK_SIZE=
CHUNK_OVERLAP=

#This api key is shared with the backend to prevent unauthorize use of this AI service
AI_SERVICE_API_KEY=